
mixin banner()
    section.banner.bg-overlay
        //- .bg-cover
        //- .bg-overlay
        .container
            .banner-caption 
                h5.banner-caption__h5 By simplequde
                h3.banner-caption__h3 Landing pages for any occasion 
                p.banner-caption__paragraph Incline is set of landing and support pages aimed at helping companies promote new products and business launches.
                +button-link({text: "Purchase now"})
            
