
mixin header()
    header.header
        .container.border-bottom
            .wp-header              
                #logo
                    a(href="")
                        h1
                            img(src="app/images/logo.png", alt="logo-main")

                +social()
                +main-menu()
               
    .line        
            
                

                


                



