
header.sticky {
    position:fixed;
    top:0;
    background: #fff;
    transition: all 0.3s ease-in-out;

    .social li a {
        color: #000;
    }
    .main-menu__link {
        color: #212529;
    }
}

.header{
    padding: 0 1rem;
    top: 0;
    z-index: 2;
    width: 100%;
    position:absolute;

    .wp-header {
        display: flex;
        justify-content: space-between;
        
        #logo {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }
    }

    .border-bottom {
        padding: 1.25rem 0;
        border-bottom: 1px solid #fbf7f930;
    }

    .social {
        &::before {
            content: "|";
            position: absolute;
            top: 33%;
            left: 18%;
            color: #99acbdad;
        }
    }
}



.social {
    li {
        float: left;
        padding: 1rem;
        font-size: 0.75rem;
        cursor: pointer;
        a{color: #fff;}

        &:hover a{
            color: #f5ba4b;
        }
    }
}



